@font-face {
  font-family: 'Roboto-Mono-Regular';
  src: url('docs/RobotoMono-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Mono-Light';
  src: url('docs/RobotoMono-Light.ttf');
  font-style: normal;
}

h1 {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 18px; 
  color: red;
  display: block;
  margin: 20px;
  max-width: 60%;
}

body {
  overflow-x: none;
}

.projectcard {
  width: 100%;
  display: block;
  margin-top: 40px;
  overflow-x: none;
}

.projectcontent {
  display: flex;
  flex-direction: row;
  overflow-x: none;
  margin: 20px;
}

.projecttext  {
  max-width: 490px;
  display: flex;
  flex-direction: column; 
  margin-right: 40px;
}

.projectname {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 16px; 
  color: red;
  display: block;
}

.projectdescription {
  font-family: 'Roboto-Mono-Light', 'garamond';
  font-size: 16px; 
  color: red;
  display: block;
  width: 100%;
}

.imgcarousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.imgcarousel::before,
.imgcarousel::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Adjust the width of the fade area as needed */
  pointer-events: none; /* Allows clicks to pass through the gradient to the carousel items */
  z-index: 1; /* Ensures the gradients are on top of the carousel content */
}

.projectimg {
  max-width: 600px;
  padding: 0px 20px; 
}

@media (min-width: 200px) and (max-width:768px) {
 body {
  width: 100%;
  margin: 20px;
  overflow: none;
  }

  h1 {
  max-width: 100%;
  line-height: 115%;
  margin: 10px;
}

.projectcontent {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}
  .projecttext  {
    width: 100%;
    margin-bottom: 40px;
}

  .projectimg {
  max-width: 100vw;
  padding-right: 20px; 
}
  
}​
