@font-face {
  font-family: 'Roboto-Mono-Regular';
  src: url('docs/RobotoMono-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Mono-Light';
  src: url('docs/RobotoMono-Light.ttf');
  font-style: normal;
}

h1 {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 18px; 
  color: red;
  display: block;
}

body {
  width: 60vw;
  margin: 20px;
  overflow: none;
}

.projectcard {
  width: 100vw;
  display: block;
  margin-top: 48px;
}

.projectcontent {
  display: inline-block;
  margin-top: 30px;
}

.projecttext  {
  width: 40%;
  display: block;
  padding: 20px;
}

.projectname {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 18px; 
  color: red;
}

.projectdescription {
  font-family: 'Roboto-Mono-Light', 'garamond';
  font-size: 18px; 
  color: red;
}

.imgcarousel {
  padding: 30px; 
}

.projectimg {
  max-width: 600px;
  margin-left: 30px;
}

@media (min-width: 200px) and (max-width:768px) {
 body {
  width: 100%;
  margin: 20px;
  overflow: none;
  }

.projectcontent {
  display: block;
  margin-top: 30px;
}
  .projecttext  {
  width: 100%;
}
  
}​
