@font-face {
  font-family: 'Roboto-Mono-Regular';
  src: url('docs/RobotoMono-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Mono-Light';
  src: url('docs/RobotoMono-Light.ttf');
  font-style: normal;
}

h1 {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 18px; 
  color: red;
  display: block;
  margin: 20px;
  max-width: 60%;
}

body {
  background-color: #FEFCF7;
}

.projectcard {
  width: 100%;
  display: block;
  margin-top: 20px;
  overflow-x: hidden;
}

.projectcontent {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  margin: 20px;
}

.projecttext  {
  max-width: 490px;
  display: flex;
  flex-direction: column; 
  margin-right: 40px;
}

.projectname {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 16px; 
  color: red;
  display: block;
  margin-bottom: 20px;
}

.projectdescription {
  font-family: 'Roboto-Mono-Light', 'garamond';
  font-size: 16px; 
  color: red;
  display: block;
  width: 100%;
}

.imgcarousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.projectimg {
  max-width: 600px;
  padding: 0px 20px; 
}

@media (min-width: 200px) and (max-width:768px) {
 body {
  margin: 0;
  padding: 20px;
}

  h1 {
  max-width: 100%;
  line-height: 115%;
  margin: 20px 0px;
}

  .projectcard {
  width: 100%;
  display: block;
  margin-top: 20px;
  overflow-x: hidden;
}
  
.projectcontent {
  display: flex;
  flex-direction: column;
}
.projecttext, .projecttext::before,
.projecttext::after  {
    width: 100%;
    margin-bottom: 40px;
    padding: 0px;
    box-sizing: border-box;
}

  .imgcarousel {
  padding: 20px;
}
  
  .projectimg {
  max-width: 100%;
    padding: 0px 20px;
}
  
}​
