@font-face {
  font-family: 'Roboto-Mono-Regular';
  src: url('docs/RobotoMono-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Mono-Light';
  src: url('docs/RobotoMono-Light.ttf');
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 18px; 
  color: #603333;
  display: block;
  margin: 20px;
  max-width: 60%;
  align-items: center;
}

::selection {
background-color: #603333;
  color: #FEFCF7;
}

body {
  background-color: #FEFCF7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
}

.links {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 18px; 
  color: #603333;
  display: flex; 
  flex-direction: row; 
  padding: 0px 20px;
  align-items: center;     /* Vertical */
}

a:hover {
  color: #FEFCF7;
background-color: #603333;
}

#button {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 18px; 
  color: #FEFCF7;
  background-color: #603333;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  width: fit-content;
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  cursor: pointer;
}

#button:hover {
  background-color: #FEFCF7;
  color: #603333;
  border: 1px #603333 solid;
}

a {
   text-decoration: none; 
    color: #603333;
    padding: 10px;
}

.projectcard {
  width: 100%;
  overflow-x: hidden;
  flex: 1;
  display: none;
}

.projectcard.active {
  display: block;
}

.projectcontent {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-x: hidden;
  margin: 20px 20px 0px 20px;
  min-height: 300px;
  align-items: flex-start;
}

.projecttext  {
  max-width: 460px;
  display: flex;
  flex-direction: column; 
  margin-right: 40px;
}

.projectname {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 16px; 
  color: #603333;
  display: block;
  margin-bottom: 20px;
}

.projectdescription {
  font-family: 'Roboto-Mono-Light', 'garamond';
  font-size: 16px; 
  color: #603333;
  display: block;
  width: 100%;
}

.imgcarousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 100%;
  align-items: center;
}

.projectimg {
  max-height: 100%;
  padding: 0px 20px 0px 0px; }

.imgcaption {
  font-family: 'Roboto-Mono-Light', 'garamond';
  font-size: 14px; 
  text-transform: uppercase;
  padding: 10px 0px;
}

.projectimg img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}

.aboutdescription {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 18px; 
  color: #603333;
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  height: 100vh;   /* Full viewport height */
  width: 60vw;
  margin: 0 auto; 
}

.aboutdescription:hover .aboutimage {
  display: block;
}

.aboutimage {
  display: none;
  bottom: 20px; 
  right: 20px; 
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  max-width: 600px;   
}

.aboutimage:active {
  display: block;
}


/* mobile styles */

@media (min-width: 200px) and (max-width:768px) {
 body {
  margin: 0;
  padding: 20px;
}

  h1 {
  max-width: 100%;
  line-height: 115%;
  margin: 20px 0px;
}

  #button {
  font-family: 'Roboto-Mono-Regular', 'garamond';
  font-size: 18px; 
  color: #FEFCF7;
  background-color: #603333
  padding: 16px;
  display: inline-block;
  margin: 10px;
  width: 100vw;
  position: fixed; 
  bottom: 8px; 
}

  .projectcard {
  width: 100%;
  display: block;
  margin-top: 20px;
  overflow-x: hidden;
}
  
.projectcontent {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.projecttext, .projecttext::before,
.projecttext::after  {
    width: 100%;
    margin-bottom: 40px;
    padding: 0px;
    box-sizing: border-box;
}

  .projectimg {
  max-width: 100%;
  padding-right: 20px;
}

  .links {
  display: flex; 
  flex-direction: row; 
  justify-content: start; 
}

.nav {
  display: flex; 
  flex-direction: column; 
  margin-bottom: 20px; 
}

  a {
   text-decoration: none; 
    color: #603333;
}
  
}​
